body {
  display: flex;
  margin: 0;
  justify-content: center;
  background-image: url(./Components/Space/Sky_Clouds_Sun_559129_3840x2400.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
